//Variables
  // Colors
    $blackish     : #1C252D;

  // Others


  // Media Queries Variables
    $for-desktop-small : 1219px;
    $for-1023          : 1023px;
    $for-tablet        : 959px;
    $for-tablet-mobile : 767px;
    $for-mobile        : 479px;
    $for-mobile-small  : 319px;